p {{ ::text.setup.step1 }}
p {{ ::text.setup.step2 }}
pre
	code $ npm install
p {{ ::text.setup.step3 }}
pre
	code $ npm install -g grunt-cli
p {{ ::text.setup.step4 }}
pre
	code $ grunt build
p {{ ::text.setup.step5 }}
pre
	code $ node node/app
p {{ ::text.setup.step6 }}