h4 {{ ::text.directives.pieChartWidget.title }}
p {{ ::text.directives.directive }}
pre {{ ::pieChart.template }}
p {{ ::text.directives.defaultConfiguration }}
pre
	include default-configuration.html
p {{ ::text.directives.overrideFields }}