.center{
	gauge, donut{
		svg{
			display:block;
			margin-left: auto;
			margin-right: auto;
		}
		min-height: 240px;
	}
}
.panel-heading{
	font-weight: bold;
	&:hover{
		cursor: pointer;
	}
}
.page-header{
	&:hover{
		cursor: pointer;
		color:#2E69DB;
	}
	h2{
		gauge,donut{
			float: left;
			margin-right: 20px;
		}
	}
}
.panel-default{
	.panel-heading{
		&:hover{
			color:#2E69DB;
		}
	}
}
