.page-header(ng-click="page.expanded = !page.expanded")
    h2
        donut(configuration="miniDonutConfiguration", data="data0")
        | {{ ::text.donut.pageHeader + ' ' }}
        small {{ ::text.donut.directiveCall }}
        span.pull-right.glyphicon.glyphicon-chevron-down(ng-show="page.expanded")
        span.pull-right.glyphicon.glyphicon-chevron-right(ng-show="!page.expanded")
.page-content(ng-show="page.expanded")
    .row
        .col-md-6
            .panel.panel-default
                .panel-heading(ng-click="true") {{ ::text.donut.donutDefault }}
                    span.pull-right.glyphicon.glyphicon-chevron-down(ng-show="true")
                    span.pull-right.glyphicon.glyphicon-chevron-up(ng-show="true")
                .panel-body(ng-show="true")
                    .center
                        donut(configuration="config0",data="data0")