.page-header(ng-click="page.expanded = !page.expanded")
    h2
        donut(configuration="miniDonutConfiguration", data="data0")
        | {{ ::text.donut.pageHeader + ' ' }}
        small {{ ::text.donut.directiveCall }}
        span.pull-right.glyphicon.glyphicon-chevron-down(ng-show="page.expanded")
        span.pull-right.glyphicon.glyphicon-chevron-right(ng-show="!page.expanded")
.page-content(ng-show="page.expanded")
    .row
        .col-md-6
            .panel.panel-default
                .panel-heading(ng-click="donuts.default.expanded = !donuts.default.expanded") {{ ::text.donut.donutDefault }}
                    span.pull-right.glyphicon.glyphicon-chevron-down(ng-show="donuts.default.expanded")
                    span.pull-right.glyphicon.glyphicon-chevron-up(ng-show="!donuts.default.expanded")
                .panel-body(ng-show="donuts.default.expanded")
                    .center
                        donut(configuration="config0",data="data0")
        .col-md-6
            .panel.panel-default
                .panel-heading(ng-click="donuts.donut1.expanded = !donuts.donut1.expanded") {{ ::text.donut.donut1 }}
                    span.pull-right.glyphicon.glyphicon-chevron-down(ng-show="donuts.donut1.expanded")
                    span.pull-right.glyphicon.glyphicon-chevron-up(ng-show="!donuts.donut1.expanded")
                .panel-body(ng-show="donuts.donut1.expanded")
                    .center
                        donut(configuration="config1",data="data1")
                    .panel.panel-info
                        .panel-heading(ng-click="donuts.donut1.code.expanded = !donuts.donut1.code.expanded") {{ ::text.donut.configuration }}
                            span.pull-right.glyphicon.glyphicon-chevron-down(ng-show="donuts.donut1.code.expanded")
                            span.pull-right.glyphicon.glyphicon-chevron-up(ng-show="!donuts.donut1.code.expanded")
                        .panel-body(ng-show="donuts.donut1.code.expanded")
                            pre.prettyprint.lang-html.linenums.prettyprinted.language-html
                                include ../configurations/donut/donut-widget-configuration-html.html
                            pre.prettyprint.lang-js.linenums.prettyprinted
                                include ../configurations/donut/donut-widget-configuration-js.html