.page-header(ng-click="page.expanded = !page.expanded")
    h2
        circular-gauge(configuration="miniGaugeConfiguration", data="miniData")
        | {{ ::text.gauge.pageHeader + ' ' }}
        small {{ ::text.gauge.directiveCall }}
        span.pull-right.glyphicon.glyphicon-chevron-down(ng-show="page.expanded")
        span.pull-right.glyphicon.glyphicon-chevron-right(ng-show="!page.expanded")
.page-content(ng-show="page.expanded")
    .row
        .col-md-6
            .panel.panel-default
                .panel-heading(ng-click="gauges.default.expanded = !gauges.default.expanded") {{ ::text.gauge.gaugeDefault }}
                    span.pull-right.glyphicon.glyphicon-chevron-down(ng-show="gauges.default.expanded")
                    span.pull-right.glyphicon.glyphicon-chevron-up(ng-show="!gauges.default.expanded")
                .panel-body(ng-show="gauges.default.expanded")
                    .center
                        circular-gauge(configuration="defaultConfiguration",data="defaultData")                    
        .col-md-6
            .panel.panel-default
                .panel-heading(ng-click="gauges.gauge1.expanded = !gauges.gauge1.expanded") {{ ::text.gauge.gauge1 }}
                    span.pull-right.glyphicon.glyphicon-chevron-down(ng-show="gauges.gauge1.expanded")
                    span.pull-right.glyphicon.glyphicon-chevron-up(ng-show="!gauges.gauge1.expanded")
                .panel-body(ng-show="gauges.gauge1.expanded")
                    .center
                        circular-gauge(configuration="gaugeConfiguration",data="data")
                    .panel.panel-info
                        .panel-heading(ng-click="gauges.gauge1.code.expanded = !gauges.gauge1.code.expanded") {{ ::text.gauge.configuration }}
                            span.pull-right.glyphicon.glyphicon-chevron-down(ng-show="gauges.gauge1.code.expanded")
                            span.pull-right.glyphicon.glyphicon-chevron-up(ng-show="!gauges.gauge1.code.expanded")
                        .panel-body(ng-show="gauges.gauge1.code.expanded")
                            pre.prettyprint.lang-html.linenums.prettyprinted.language-html
                                include ../configurations/gauge/gauge-widget-configuration-html.html
                            pre.prettyprint.lang-js.linenums.prettyprinted
                                include ../configurations/gauge/gauge-widget-configuration-js.html