h1 {{ ::text.examples }}
hr
div(ng-if="pages.donut.show",ng-controller="DonutController", ng-init="page = pages.donut")
    include donut.jade
div(ng-if="pages.gauge.show",ng-controller="GaugeController", ng-init="page = pages.gauge")
    include gauge.jade
div(ng-if="pages.pie.show",ng-controller="PieChartController", ng-init="page = pages.pie")
    include pie-chart.jade
