h4 {{ ::text.directives.donutWidget.title }}
p {{ ::text.directives.directive }}
pre {{ ::donut.template }}
p {{ ::text.directives.defaultConfiguration }}
pre
	include default-configuration.html
p {{ ::text.directives.overrideFields }}
