h4 {{ ::text.usage.step1 }}
pre.prettyprint.lang-html.linenums.prettyprinted.language-html
	include script.html
h4 {{ ::text.usage.step2 }}
pre.prettyprint.lang-html.linenums.prettyprinted.language-html
	include require.html
h4 {{ ::text.usage.step3 }}
pre.prettyprint.lang-html.linenums.prettyprinted.language-html
	include angular.html