h4 Gauge widget
p Directive
pre {{ ::gauge.template }}
p Default Configuration
pre 
	include default-configuration.html
p All those fields can be overriden in the configuration for you to customize widget.
