.controller('MyController',function($scope,$timeout){

    $scope.gaugeConfiguration = {
        max : 100,
        radius : 130,
        startAngle : -90,
        amplitude : 180,
        strokeWidth : 25,
        border : {
            color : '#EA4F69',
            strokeWidth: 4
        },
        background : {
            display : false
        },
        label : {
            format : function(d){
                return d;
            },
            symbol : {
                format : function(d){
                    return '%';
                }
            }
        },
        thresholds : {
            display : false
        },
        colors : ['#00CED1','#1E90FF','#4682B4','#191970'],
        transitions : {
            arc : 100,
            label : 1000
        }
    };

    $scope.data = 0;

    $scope.updateData = function(){
        $timeout(function(){
            $scope.data = Math.floor(Math.random()*100);
            $scope.updateData();
        },2500);
    };

    $scope.updateData();
});
