.ui-dashboard-donut-label-value,.ui-dashboard-pie-label-value{
	font-size: 12px;
	font-weight: bold;
	fill: #2A2A2A;
}
.ui-dashboard-donut-label-name,.ui-dashboard-pie-label-name{
	font-size: 12px;
	fill: #CCC;
}