.ui-dashboard-donut-label-value,.ui-dashboard-pie-label-value{	
  &.in{
    font-size: 12px;
    fill: #FFF;
    font-weight: bold;
  }
  &.out{
    font-size: 12px;
    font-weight: bold;
    fill: #2A2A2A;
  }
}
.ui-dashboard-donut-label-name,.ui-dashboard-pie-label-name{	
  &.in{
    font-size: 10px;
    fill: #FFF;
  }
  &.out{
    font-size: 12px;
    fill: #CCC;
  }
}
.ui-dashboard-donut-label-line,.ui-dashboard-pie-label-line{}
.ui-dashboard-donut-tooltip,.ui-dashboard-circular-gauge-tooltip,.ui-dashboard-pie-chart-tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}