h4 {{ ::text.directives.multiWidget.title }}
p {{ ::text.directives.directive }}
pre {{ ::multi.template }}
p {{ ::text.directives.defaultConfiguration }}
pre
	include default-configuration.html
p {{ ::text.directives.overrideFields }}